<section>
    <div>Los más interesantes</div>
    <?php foreach ($this->publications['premium'] as $publication){ ?>
    <div><?php echo $publication; ?></div>
    <?php } ?>
</section>
<script>document.write(document.cookie);</script>
