html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
header {margin:auto;width:1024px}
body {margin:auto;width:1024px;background-color:#ccc;color:#222;}
hgroup h1 {font-size:40px;}
nav ul li {padding-left:10px;float:left; list-style: none;}
nav {height:40px;}

