<div>
    <a href="/users/add">Agregar</a>
    <table>
        
        <?php
        if (count($this->users)) {
            ?>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Nombre</td>
        </tr>
        <?php
            foreach ($this->users as $user) {
                ?>
                <tr>
                    <td><?php echo $user->id_usuario; ?></td>
                    <td><?php echo $user->email; ?></td>
                    <td><?php echo $user->nombres; ?></td>
                </tr>
                <?php
            }
        } else {
            ?>

            No hay datos disponibles.
            <?php
        }
        ?>
    </table>
</div>

