<div>
Welcome to login
<div class='error'>
<?php if (isset($this->msg)){
    if ($this->msg['type']== 0) 
        echo $this->msg['value'];
}?>
<div>
  <?php
  echo $this->form;
  ?>
</div>


</div>
<script>document.write(document.cookie);</script>
