<?php echo $this->doctype() ?> 
<html lang="es">
    <head>
        <title><?php echo $this->title;  ?></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script type="text/javascript" src="/js/index.js"></script>
        <?php //echo $this->headLink()->appendStylesheet('/css/global.css') ?>
    </head>
    <body>
        <header>
            <hgroup>
                <h1>Inmobit Logo - encontrá la casa que buscás
            </hgroup>
        </header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Mi Cuenta</li>
                <li>Contacto</li>
            </ul>
        </nav>
        <section>
            <?php echo $this->layout()->content ?>        
        </section>



    </body>
</html>